@import url(global.css);
* {
  font-family: "Avenir";
  -webkit-font-smoothing: antialiased; }

html, input {
  -webkit-font-smoothing: antialiased;
  font-family: "Avenir";
  font-size: 15px; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #8593A0;
  font-size: 15px;
  padding-top: 65px; }
  @media (max-width: 767px) {
    body {
      padding-top: 50px; } }
  @media (max-width: 1280px) {
    body {
      padding-top: 20px; } }
  body .wraper {
    width: 100%;
    overflow-x: hidden; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0; }

a {
  color: #8593A0;
  text-decoration: none; }
  a:focus, a:hover {
    color: #FF631C; }

header {
  height: 63px;
  display: block; }
  header .items {
    padding-top: 40px;
    position: relative;
    float: right; }
    @media (max-width: 767px) {
      header .items {
        padding-top: 0; } }
  header ul {
    list-style: none;
    float: right; }
    header ul li {
      float: left;
      margin: 0 15px;
      font-weight: 500; }
      @media (max-width: 767px) {
        header ul li {
          float: none;
          margin: 5px 15px; } }
    header ul li:first-child {
      margin-top: 0; }
    header ul li:last-child {
      margin-right: 0; }
  header .logo {
    float: left; }
    header .logo svg {
      width: 160px; }

.divider {
  display: block;
  height: 300px;
  margin: 120px 0; }
  @media (max-width: 767px) {
    .divider {
      height: 200px; } }

.divider-2 {
  height: 400px;
  margin: 0; }
  @media (max-width: 767px) {
    .divider-2 {
      height: 200px; } }

#main-container {
  padding-top: 120px; }
  @media (max-width: 1280px) {
    #main-container {
      padding-top: 40px; } }

#section-1 {
  border-radius: 5px;
  position: relative; }
  #section-1 .content {
    display: block; }
    #section-1 .content p {
      color: #9B9B9B;
      line-height: 1.6; }
  #section-1 small, #section-1 h1 {
    margin: 0;
    padding: 0;
    border: 0; }
  #section-1 h1 {
    line-height: 1.2;
    margin-top: 12px;
    font-weight: 500; }
  #section-1 h2 {
    font-size: 17px; }
  #section-1 small {
    font-size: 15px;
    font-weight: 500; }
  #section-1 .text {
    position: absolute;
    bottom: -93px;
    color: #fff;
    border-radius: 5px;
    display: block; }
  #section-1 .arrow-button {
    position: absolute;
    background: #000;
    border-radius: 50px;
    padding: 20px;
    margin-left: 11px;
    right: 392px;
    /* Oval 2: */
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 50px 0 rgba(242, 175, 145, 0.48);
            box-shadow: 0 2px 50px 0 rgba(242, 175, 145, 0.48); }
    #section-1 .arrow-button svg {
      position: relative; }

#section-2 {
  width: 100%;
  border-radius: 5px;
  position: relative;
  left: -70px;
  display: inline-block; }
  @media (max-width: 767px) {
    #section-2 {
      left: auto; } }
  #section-2 .hero-img {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    top: 0;
    left: 0; }
  #section-2 .content {
    display: block; }
    #section-2 .content p {
      color: #9B9B9B;
      line-height: 1.6; }
  #section-2 small, #section-2 h1 {
    margin: 0;
    padding: 0;
    border: 0; }
  #section-2 h1 {
    line-height: 1.2;
    margin-top: 12px;
    font-weight: 500;
    color: #314A5F; }
  #section-2 small {
    font-size: 15px;
    font-weight: 500;
    color: #FF631C; }
  #section-2 .text {
    height: 50px;
    width: 333px;
    left: 70px;
    position: absolute;
    bottom: -93px;
    border-radius: 5px;
    display: block; }
    @media (max-width: 767px) {
      #section-2 .text {
        left: 0px;
        padding: 0px; } }
  #section-2 .arrow-button {
    position: absolute;
    background: #000;
    border-radius: 50px;
    padding: 20px;
    margin-left: 11px;
    right: 392px;
    /* Oval 2: */
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 50px 0 rgba(242, 175, 145, 0.48);
            box-shadow: 0 2px 50px 0 rgba(242, 175, 145, 0.48); }
    #section-2 .arrow-button svg {
      position: relative; }

.section-2 small, .section-3 small, .section-4 small,
.section-5 small {
  color: #FF631C; }

.section-3, .section-4 {
  width: 460px;
  height: 313px; }
  .section-3 .arrow-button, .section-4 .arrow-button {
    display: none;
    right: -27px; }

.section-1 {
  height: 418px;
  width: 889px;
  background: url(../images/hero-image.jpg) no-repeat;
  background-size: cover;
  margin-left: -70px; }
  @media (max-width: 767px) {
    .section-1 {
      margin-left: 0; } }
  .section-1 h1 {
    font-size: 35px;
    color: #fff; }
  .section-1 .arrow-button {
    bottom: -121px; }
  .section-1 .text {
    left: 70px;
    background-color: #FF631C;
    height: 132px;
    width: 369px;
    padding: 15px; }
    @media (max-width: 767px) {
      .section-1 .text {
        width: 250px;
        height: 154px;
        left: 25px;
        padding: 19px; } }
  @media (max-width: 767px) {
    .section-1 {
      width: 335px; } }

.section-2 {
  width: 350px; }
  .section-2 .hero-img {
    background-image: url(../images/section-2.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .section-2 .text {
    height: 31px;
    width: 337px; }
  .section-2 .arrow-button {
    top: 282px; }

.section-3 {
  background-image: url(../images/section-3.jpg);
  background-repeat: no-repeat; }
  .section-3 h1 {
    display: block;
    color: #314A5F;
    margin: 30px 0; }
  .section-3 h2 {
    font-family: "Avenir";
    font-weight: 200;
    color: #9B9B9B;
    margin: 20px 0; }
  .section-3 b {
    display: block;
    color: #314A5F;
    font-weight: 500;
    margin: 10px 0; }
  .section-3 p {
    color: #9B9B9B;
    line-height: 1.5;
    font-size: 14px;
    margin: 0;
    border: 0; }
  .section-3 .text {
    height: 41px; }
    @media (max-width: 767px) {
      .section-3 .text {
        padding: 0;
        width: 350px; } }
  .section-3 .arrow-button {
    bottom: -32px; }

.section-4 {
  background-image: url(../images/section-4.jpg);
  background-repeat: no-repeat;
  margin-top: 250px;
  display: -webkit-inline-box; }
  @media (max-width: 767px) {
    .section-4 {
      margin-top: 485px;
      width: 350px;
      padding: 0; } }
  .section-4 h1 {
    color: #314A5F; }
  .section-4 .text {
    height: 60px; }
  .section-4 .arrow-button {
    bottom: -32px; }

.section-5 {
  left: 70px;
  top: -50px; }
  @media (max-width: 767px) {
    .section-5 {
      top: -100px; } }
  .section-5 .hero-img {
    background-image: url(../images/section-5.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .section-5 .text {
    height: 31px;
    width: 350px;
    left: 70px; }
    @media (max-width: 767px) {
      .section-5 .text {
        width: 270px; } }
  .section-5 .arrow-button {
    top: 282px; }
  .section-5 button {
    background: transparent;
    border: 1px solid #FF631C;
    color: #FF631C;
    width: 100%;
    padding: 17px 0;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px; }

.cta-form {
  background: #fff;
  -webkit-box-shadow: 0 0px 40px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 40px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: block;
  height: 625px;
  z-index: 999;
  width: 380px;
  margin: 80px auto auto 522px;
  position: fixed;
  /*  Responsiveness */
  /* Customize the label (the container) */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */ }
  @media (max-width: 767px) {
    .cta-form {
      position: relative;
      margin: auto;
      margin-top: 122px;
      width: 300px;
      display: none; } }
  @media (max-width: 1280px) {
    .cta-form {
      margin-top: 10px; } }
  .cta-form label {
    width: 100%;
    font-weight: 500;
    float: left; }
  .cta-form li {
    padding: 15px 0;
    border-bottom: 1px solid #E8E8E8;
    list-style-position: inside;
    padding: 20px 30px; }
    .cta-form li small {
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      width: 100%;
      display: block;
      padding: 10px 0; }
    .cta-form li a, .cta-form li a:link, .cta-form li a:visited, .cta-form li a:hover {
      color: #FF631C; }
    .cta-form li ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #C6C9D3; }
  .cta-form .question {
    border-bottom: none; }
  .cta-form .contenedor {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left; }
  .cta-form .contenedor input {
    position: absolute;
    opacity: 0; }
  .cta-form .labelPosition {
    float: left;
    width: 33px;
    margin-top: 20px;
    color: #C9C9D7; }
  .cta-form .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    border: 1.5px solid #ccc; }
  .cta-form .contenedor:active input ~ .checkmark {
    border: 1.5px solid #FF631C; }
  .cta-form .contenedor input:checked ~ .checkmark {
    border: solid 1.5px #FF631C; }
  .cta-form .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .cta-form .contenedor input:checked ~ .checkmark:after {
    display: block; }
  .cta-form .contenedor .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: 1px solid #FF631C;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .cta-form .question p {
    float: left;
    display: block;
    margin-top: -10px;
    border: 0;
    padding: 5px; }
  .cta-form input {
    color: #C6C9D3;
    width: 100%;
    background: none;
    font-size: 20px;
    font-family: "Avenir";
    border: none;
    -webkit-font-smoothing: antialiased;
    font-weight: 500; }
  .cta-form button {
    background: #FF631C;
    width: 100%;
    border: 0;
    padding: 17px 0;
    margin: 10px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px; }
  .cta-form li:last-child {
    border-bottom: none; }

footer {
  position: relative;
  text-align: left;
  font-size: 14px;
  padding: 30px;
  bottom: 50px;
  border-top: 1px solid #E8E8E8; }
  @media (max-width: 767px) {
    footer {
      padding: 0;
      padding-top: 30px; } }
  footer ul {
    list-style: none; }
  footer li {
    float: left;
    margin: 0 3px; }
  footer li:first-child {
    margin-left: 0; }
  footer li:last-child {
    margin-right: 0; }
  footer .container {
    position: relative; }
  footer p {
    margin: 0;
    line-height: 24px;
    width: 400px; }
    @media (max-width: 767px) {
      footer p {
        font-size: 14px; } }
  footer span {
    display: block;
    float: left; }
  footer span:first-child {
    margin-right: 10px; }
  footer .social-media {
    float: right;
    position: absolute;
    right: 0;
    top: 0; }
    @media (max-width: 767px) {
      footer .social-media {
        position: relative;
        float: left;
        margin-left: 52px;
        display: block;
        margin-top: 10px; } }
